---
layout: default
---
<style>
  .no-underline {
    text-decoration: none;
    color: darkgrey; /* Change the color to your desired color */
  }
</style>


<div class="g-5 mb-5">
  <h2 class="mb-3">Research Projects</h2>
  <div class="row g-5">
    <div class="col-md-6">
      <h5><a href="">Quantification of Predictive Uncertainty with Scalable-Uncertainty Aware Models</a></h5>
      <p>In the context of exact GP inferences, DKL models usually suffer from poor scalability in the size N of the dataset due to the O(N<sup>3</sup>) computational complexity of GPs. Additionally, exact GP inferences are only possible for Gaussian likelihoods, making approximation necessary for classification tasks. To address both issues, Ober and Rasmussen introduced the use of stochastic variational inferences for GPs, leading to the development of stochastic variational deep kernel learning (SVDKL).
      As part of the CS159 (Uncertainty Quantification) project, we propose frameworks with SVDKL as an improvement to DKL to quantify uncertainty estimates in medical classification tasks and show the importance of lower dimensional representations in scalability for GPs.</p>
    </div>
    <div class="col-md-6">
      <h5><a href="">Integrating cfDNA Features with a Novel ML Algorithm for PNST Detection</a></h5>
      <p>Will update this!</p>
    </div>
    <div class="col-md-6">
      <h5><a href="">Embodying Shakespeare with Hidden Markov Models</a></h5>
      <p>Will update this!</p>
    </div>
    <div class="col-md-6">
      <h5><a href="">Validation of M-SEPS Algorithm (v2) for CASTOR</a></h5>
      <p><a href="https://ieeexplore.ieee.org/document/9438352" class="no-underline">M-SEPS or MultiSpacecraft Simultaneous Estimation of Pose and Shape algorithm</a> is a reliable,
        novel approach to estimate the pose of an unknown or uncooperative space target
        using monocular vision, or monocular cameras.
        In M-SEPS, a set of chasers with monocular cameras exchange information over some network to estimate the relative orientation and degree of freedoms (rotational, translational, etc.) in order to approximate the relative kinematic status of the target.</p>
    </div>
    <div class="col-md-6">
      <h5><a href="">
        A Comprehensive Examination of Games: Modelling with Cumulative Probability and (Absorbing) Markov Chains</a></h5>
      <p>Snakes and Ladders is a popular board game played on a 10x10 grid. Players roll a die to move and aim to reach the final square (square 100) first. Snakes and ladders introduce complexity by moving players further or closer to the final square respectively. The mathematical complexities arising from these elements are not considered within Markov theory. The question remains: Do ladders accelerate players' progress in the game?
      
The objective of my investigation is to analyze the application of Markov Chains principles in evaluating the impact of ladders on the expected number of moves required for a player to win a game of Snakes and Ladders. Using a fair six-sided die, I will examine how the ratio of ladders to snakes affects the game dynamics.</p>
    </div>
    <!-- <div class="col-md-6">
      <h5><a href="/personal-development">Personal Development</a></h5>
      <p>These notes taken together form a literature review of the current landscape of personal development advice.</p>
    </div>
  </div>
  <div class="row g-5">
    <div class="col-md-6">
      <h5><a href="/api-integration">API Integration</a></h5>
      <p>Application Programming Interfaces (APIs) allows applications to communicate each other. They provide a standard for unrelated applications to interact with each other.</p>
    </div>
    <div class="col-md-6">
      <h5><a href="/book-notes">Book Notes</a></h5>
      <p>Summaries and reflections from books that have influenced me.</p>
    </div> -->
  </div>
</div>