---
layout: default
---

<div class="g-5 mb-5">
  <h1>Resume</h1>
  <p>Here's my resume, I might update with a CV some time soon; as off June 2023.</p>
  <div class="pdf-container">

    <embed src="/assets/Sarah_Liaw_Resume_website.pdf#toolbar=0&amp;navpanes=0&amp;scrollbar=0&amp;statusbar=0" width="790 px" height="1000px">

  </div>
  <p>Awards in my time at Caltech:</p>
  <ul>
    <li>1st Place in Citadel Women's Datathon 2023</li>
    <li>Hummel Gray Award 2022</li>
  </ul>
  <p>Teaching experiences at Caltech:</p>
  <ul>
    <li>ACM 104: Applied Linear Algebra (Fall 2023, tentative), Prof. Konstantin Zuev</li>
    <li>CS 12: Computational Methods in Neuroscience (Winter 2022), Prof. Pietro Perona </li>
    <li>Dean's Tutor for Ma 1abc (Calculus of One and Several Variables and Linear Algebra), Ph 1abc (Classical Mechanics and Electromagnetism), Ch 1 ab (General Chemistry), CS 21 (Decidability and Tractibility)</li>
  </ul>
</div>
